 <aside class="site-sidebar clearfix">
            <nav class="sidebar-nav">
                <ul class="nav in side-menu">
                    <li class="current-page menu-item-has-children"><a href="{{ url_for('dashboard_bp.index') }}"><i class="list-icon feather feather-monitor"></i> <span class="hide-menu">Dashboard</span></a>
                    </li>
                    <li class="current-page menu-item-has-children"><a href="{{ url_for('dashboard_bp.index') }}"><i class="list-icon feather feather-navigation-2"></i> <span class="hide-menu">Request</span></a>
                    </li>
                    <li class="current-page menu-item-has-children"><a href="{{ url_for('incident_bp.index') }}"><i class="list-icon feather feather-alert-triangle"></i> <span class="hide-menu">Incident</span></a>
                    </li>
                    <li class="current-page menu-item-has-children"><a href="{{ url_for('dashboard_bp.index') }}"><i class="list-icon feather feather-command"></i> <span class="hide-menu">Audits</span></a>
                    </li>
                    <li class="current-page menu-item-has-children"><a href="{{ url_for('dashboard_bp.index') }}"><i class="list-icon feather feather-maximize-2"></i> <span class="hide-menu">Blogs & Knowledge Articles</span></a>
                    </li>
                </ul>
                <!-- /.side-menu -->
            </nav>
            <!-- /.sidebar-nav -->
        </aside>

      