{% extends 'base_auth.html' %}
{% block title%} Login {% endblock %}

 {% block content %}
    <div id="wrapper" class="row wrapper">

        <div class="container-min-full-height d-flex justify-content-center align-items-center">

            <div class="login-center">

                <div class="navbar-header text-center mt-2 mb-4">
                    <a href="{{ url_for('home') }}">
                        <img alt="" src="{{ url_for('static', filename='assets/img/logo-light.png') }}">
                    </a>
                </div>
                <!-- /.navbar-header -->
                 {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger">
                            {{ messages[0] }}.
                        </div>
                    {% endif %}
                {% endwith %}
                <form method="POST" action="{{ url_for('auth_bp.login') }}">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        <label for="email">Email</label>
                        {{ form.email(class="form-control form-control-line", placeholder="Enter your email") }}
                        {% if form.email.errors %}
                            <div class="text-danger">{{ form.email.errors[0] }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group
">
                        <label for="password">Password</label>
                        {{ form.password(class="form-control form-control-line", placeholder="Enter your password") }}
                        {% if form.password.errors %}
                            <div class="text-danger">{{ form.password.errors[0] }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group
">
                        <button class="btn btn-block btn-lg btn-primary text-uppercase fs-12 fw-600" type="submit">Login</button>   
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 d-flex">
                            <div class="checkbox checkbox-primary mr-auto mr-0-rtl ml-auto-rtl">
                                <label class="d-flex">
                                    {{ form.remember_me() }} <span class="label-text">Remember me</span>
                                </label>
                            </div>
                            <a href="{{ url_for('auth_bp.recover') }}" id="to-recover" class="my-auto pb-2 text-right">
                                <i class="material-icons mr-2 fs-18">lock</i> Forgot Password?
                            </a>
                        </div>
                        <!-- /.col-md-12 -->
                    </div>  
                    <!-- /.form-group -->
                </form>
                <!-- /.form-material -->
                <footer class="col-sm-12 text-center">
                    <hr>
                    <p>Don't have an account? <a href="{{ url_for('auth_bp.register') }}" class="text-primary m-l-5"><b>Sign Up</b></a></p>
                </footer>
            </div>
            <!-- /.login-center -->
        </div>
        <!-- /.d-flex -->
    </div>
    <!-- /.body-container -->
 {% endblock %}
